
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url(../css/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.color-overlay{
    background: linear-gradient(to top, rgb(6, 4, 8, 0.97), transparent,  rgba(25, 15, 35, 0.7) ) ;
    width: 100%;
    height: 100%;
    position: absolute;
}


.container-presentation h2{
    font-family: "raleway";
    font-size: 29px;
    color: white;
    font-weight: 500;
    line-height: 50px;
}




@media screen and (max-width: 1205px){
    .social-medias{
       display: none;
    }
    .container{
        max-width: 1205px;
    }
    .container-presentation{
        display: flex;

        padding-top: 200px;
        flex-direction: column;
    }
    .menu nav a{
        font-size: 25px;
        padding-left: 3rem;
    }
    .menu{
        width: 100%;
    }
    #logo{
        width: 25%;
        margin-left: 4rem;
    }
    .container-presentation h2 b{
        font-size: 10px;
    }
}


/*BOTAO DE DOWNLOAD*/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  font-family: 'Open Sans', 'sans-serif';
}

html, body {
  overflow: hidden;
}

ul {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

li {
  display: inline-block;
  margin: 1px;
}

.download {
  font-family: "RALEWAY";
  font-weight: 700;
  width: 200px;
  height: 75px;
  background: #3b2a61;
  float: left;
  border-radius: 15px;
  position: relative;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.download > .fa {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.df,
.dfn {
  position: absolute;
  left: 70px;
}

.df {
  top: 20px;
  font-size: .68em;
}

.dfn {
  top: 33px;
  font-size: 1.08em;
}

.download:hover {
    background-color: #191229;
}